// $sizes
$sizes: '0',
'4px',
'8px',
'16px',
'24px',
'32px',
'46px',
'64px',
'128px';

$size0: 0;
$size1: 4px;
$size2: 8px;
$size3: 16px;
$size4: 24px;
$size5: 32px;
$size6: 46px;
$size7: 64px;
$size8: 128px;

// radius
$radius: 3px;

// buttons
$btn-sm: 30px;
$btn-md: 36px;
$btn-lg: 46px;

// menu
$menu-size: 60px;

// colors
$color-white: #fff;
$color-dark: #121415;
$color-primary: #e63b3b;

// grey
$color-grey-0: #F8F9FB;
$color-grey-1: #F1F4F6;
$color-grey-2: #EAEEF2;
$color-grey-3: #E3E9EE;
$color-grey-4: #DCE3EA;
$color-grey-5: #D4DDE5;
$color-grey-6: #CDD8E1;
$color-grey-7: #C6D2DD;
$color-grey-8: #BFCDD8;
$color-grey-9: #B8C7D4;
$color-grey-10: #A6B3BF;
$color-grey-11: #939FAA;
$color-grey-12: #818B94;
$color-grey-13: #6E777F;
$color-grey-14: #5C646A;
$color-grey-15: #4A5055;
$color-grey-16: #373C40;
$color-grey-17: #25282A;
$color-grey-18: #121415;
